<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 启动注解驱动的 spring mvc 功能 -->
    <mvc:annotation-driven>
        <!-- 解决 Responsbody 返回的乱码-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/html; charset=UTF-8"/>
                <property name="defaultCharset" value="UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态资源配置 -->
    <mvc:resources mapping="/css/**" location="/static/css/"></mvc:resources>
    <mvc:resources mapping="/fonts/**" location="/static/fonts/"></mvc:resources>
    <mvc:resources mapping="/images/**" location="/static/images/"></mvc:resources>
    <mvc:resources mapping="/js/**" location="/static/js/"></mvc:resources>

    <!-- 静态资源过滤 -->
    <mvc:default-servlet-handler/>

    <!-- 扫描包：Controller 接口包-->
    <context:component-scan base-package="com.controller"/>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>
