<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>beautymmakeup</display-name>
    <!-- 配置前端控制器 -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- 读取上下文配置文件（最大的配置文件） -->
            <param-value>classpath:ApplicationContext.xml</param-value>
        </init-param>
        <!-- 配置启动级别为1，（和Tomcat一起启动） -->
        <load-on-startup>1</load-on-startup>
        <!-- spring6的文件上传配置 -->
        <multipart-config>
            <!--上传到/tmp/upload 目录,如果配置为/使用HttpServletRequest上传时，可能会抛出异常/无权限操作-->
<!--            <location>/</location>-->
            <!--文件大小为2M-->
            <max-file-size>2097152</max-file-size>
            <!--整个请求不超过4M-->
            <max-request-size>4194304</max-request-size>
            <!--所有文件都要写入磁盘-->
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>

    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--配置解决中文乱码过滤器-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!--初始化参数-->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>

        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- session过期时间 15分钟 -->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>